body{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:4rem;
    background-image:url('majorbg.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
#validationform{
    border:1px solid black;
    align-items: center;
    height:390px;
    width:200px;
    padding:50px;
    border-radius:10px;
    background-image:url('majorbg.jpg');
    background-position:center;
    background-size: cover;
    background-color: rgb(102, 89, 89);
    background-blend-mode: overlay;
    color:white;
}
.errordisplay{
    color:red;
}